**/build/
**/node_modules/
example*/
main-page/.cache/
main-page/public/build
**/dist
.DS_Store
pnpm-lock.yaml

# Environement secrets
.env

# Ignore cache and temp files
.cache/
.temp/

# Ignore Adam's example folders
example*/
