.node circle {
    /* fill: #999; */
    fill: red;

  }

  .node text {
    fill: red
  }

  g > text {
    fill: red;
  }

  gLink {
    stroke-width: 100px;
  }

  
  .node text {
    font: 10px sans-serif red;
  }
  
  .node--internal circle {
    /* fill: #555555; */
    fill: white;
  }
  
  .node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
    fill: red;
  }
  
  .link {
    fill: red;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 100px;
  }
  
  form {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  
  label {
    display: block;
  }